/* HEADER */

header {
    background: black;
    .site-head {
        display: flex;
        justify-content: start;
        align-items: center;
        min-height: 110px;
        gap: 100px;
        .main-navigation {
            ul {
                &.nav-menu {
                    display: flex;
                    gap: 30px;
                    li {
                        a {
                            font-family: 'Lato', sans-serif;
                            text-transform: uppercase;
                            color: #FFF;
                            font-weight: 300;
                            &:hover {
                                color: red;
                            }
                        }
                    }
                }
            }
        }
    }
}


/* NAV MENU */

.main-navigation {
    position: relative;
}


/* Menu button styles */

.menu-btn {
    width: 40px;
    height: 40px;
    cursor: pointer;
    background-color: transparent;
    border: none;
    padding: 0;
}


/* Menu button burger styles */

.menu-btn-burger {
    width: 100%;
    height: 2px;
    background-color: #FFF;
    margin: 6px 0;
}


/* Add animation to the burger lines */

.menu-btn-burger:before,
.menu-btn-burger:after {
    content: "";
    width: 100%;
    height: 2px;
    background-color: #FFF;
    position: absolute;
    left: 0;
    transition: all 0.2s ease;
}

.menu-btn-burger:before {
    top: -6px;
}

.menu-btn-burger:after {
    top: 6px;
}


/* Change the appearance of the burger lines on menu open */

.menu-btn.open .menu-btn-burger {
    background-color: transparent;
}

.menu-btn.open .menu-btn-burger:before {
    top: 0;
    transform: rotate(45deg);
}

.menu-btn.open .menu-btn-burger:after {
    top: 0;
    transform: rotate(-45deg);
}

@media only screen and (max-width: 600px) {
    header {
        .site-head {
            justify-content: space-between;
            .main-navigation {
                ul {
                    &.nav-menu {
                        display: none;
                    }
                }
                &.toggled {
                    ul {
                        &.nav-menu {
                            display: block;
                        }
                    }
                }
            }
        }
    }
}